{{! home.hbs }}
<div class='mt-4'>
  <div class='dropdown mb-3'>
    <button
      class='btn btn-secondary dropdown-toggle'
      type='button'
      id='dropdownMenuButton1'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >
      Brand
    </button>
    <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
      <li><a class='dropdown-item' href='?selectedBrandId='>All</a></li>
      {{#each brand}}
        <li><a
            class='dropdown-item'
            href='?selectedBrandId={{this._id}}'
          >{{this.brandName}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div class='row g-3'>
    {{#each (filterWatchesByBrand watch selectedBrandId)}}
      <div class='col-sm-6 col-lg-4'>
        <div class='card card-course-item'>
          <a href='/watch/{{this._id}}'>
            <img
              class='w-50 card-img-top img-fluid rounded mx-auto d-block'
              src='{{this.image}}'
              alt='{{this.name}}'
            />
          </a>
          <div class='card-body'>
            <a href='/watch/{{this._id}}'>
              <h5 class='card-title'>{{this.name}}</h5>
            </a>
            <h5 class='card-title'>{{this.brand.brandName}}</h5>
            <p class='card-text'>{{this.description}}</p>
            <div class='d-flex justify-content-between mt-3'>
              <p class='card-text'>{{this.price}}</p>
              <a href='#' class='btn btn-primary'>Detail</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>